.signup-outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90.5vh;
}
.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-container > input {
  outline: none;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

p {
  margin-top: 15px;
}

/* Signup.css */
.error-message {
  color: red;
  display: block;
}

input.valid {
  border-color: green;
}

input.invalid {
  border-color: red;
}




.signup-container button:hover {
  background-color: #0056b3;
}

.signup-container p {
  margin-top: 10px;
}

.signup-container .error-message {
  font-size: 12px;
  color: red;
}
