h2 {
    text-align: center;
    color: #212EA0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #212EA0;
    border: 3px solid whitesmoke;
    color: azure;
    border-radius: 10px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
} 

.accordian .question:hover {
    background-color: #000c7c;
}

.arrow-icon {
    transition: transform 0.5s ease-in-out;
}

.accordian .active-faq {
    transform: rotate(-180deg);
}

h3 {
    padding: 10px;
}

.item {
    padding: 10px;
}

.content {
    justify-content: center;
    box-sizing: content-box;
    /* padding: 20px; */
    /* border: 3px solid black; */
    border-radius: 10px;
    /* margin: 10px; */
    font-family: "Outfit", sans-serif;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out, margin 0.5s ease-in-out, border 0.5s ease-in-out;
}

