/* accordian.css */

h2 {
    text-align: center;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    color: #212eA0; /* Added a color for the heading */
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(33,46,160);
    border: 2px solid whitesmoke;
    color: azure;
    border-radius: 10px 10px 0 0; /* Rounded corners at the top */
    padding: 15px 20px 15px 10px; /* Consolidated padding properties */
    cursor: pointer; /* Added cursor pointer for better UX */
    transition: background-color 0.3s ease-in-out; /* Smooth background color transition */
}

.accordian .question:hover {
    background-color: #000c7c;
}

.arrow-icon {
    transition: transform 0.5s ease-in-out;
}

.accordian .active-faq {
    transform: rotate(-180deg);
}

h3 {
    padding: 10px;
    margin: 0; /* Removed default margin */
    font-size: 1.1em; /* Increased font size */
}

.item {
    margin-bottom: 10px;
}

.content {
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    justify-content: center;
    box-sizing: content-box;
    max-height: 0;
    overflow: hidden;
    background-color: #1d1d35; /* Dark background color for answer section */
    padding: 0 20px; /* Padding for content area */
    border-left: 2px solid whitesmoke;
    border-right: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    color: #fff; /* White text for dark mode */
    border-radius: 0 0 10px 10px; /* Rounded corners at the bottom */
}

.content.show {
    max-height: 500px; /* Set a reasonable max-height to allow transition */
    padding-top: 20px;
    padding-bottom: 20px;
}

.no-data {
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 1.2em;
}
