.chatbot {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 12px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.chatbot-scroll {
  ::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }

  ::-webkit-scrollbar-thumb {
    background: #007bff; /* Color of the thumb */
    border-radius: 6px; /* Roundness of the thumb */
  }
}

.react-chatbot-kit-chat-input {
  outline: none;
}
.react-chatbot-kit-chat-message-container{
  overflow-x: hidden;
  padding: 0.5px 5px 25px 5.5px;
  /* height: 455px; */
}
.react-chatbot-kit-user-chat-message {
  padding: 15px;
  margin-right: 9px;
}
.react-chatbot-kit-chat-input-form{
  margin:3px 10px;
  position:fixed;
  bottom: 2px;
  width:auto;
}
.react-chatbot-kit-chat-inner-container {
  background-color:white;
}
.react-chatbot-kit-chat-container {
  width: 350px;
}
.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
}

.react-chatbot-kit-chat-header {
  background-color: rgb(153, 189, 230);
}
.react-chatbot-kit-chat-bot-message {
  background-color: #2977f5;
  color: #f1f1f1;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #007bff ;
}

.react-chatbot-kit-chat-btn-send {
  background-color:#007bff;
  height: 43px;
  width: 90px;
  margin: 0px 10px;
}
.Logo {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  right: 12px;
}
.Avatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-bottom: 30px;
}
.userAvatar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}


.toggle-button {
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.chatbot-container {
  /* width: 300px; */
  /* height: 400px; */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none; /* Prevent interaction when hidden */
}

.chatbot-container.open {
  transform: translateY(0);
  opacity: 1;
  margin-bottom: 5px;
  pointer-events: auto; /* Allow interaction when visible */
}
