.chatbot {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 40px;
  margin-bottom: 20px;
}

 @media (max-width: 400px) {
  .chatbot {
    margin-right: 15px;
  }
} 
.chatbot-scroll {
  ::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: #007bff;
  }
}

.react-chatbot-kit-chat-input {
  outline: none;
  background-color: #007bff;
  width: 75%;
  margin-left: 10px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.react-chatbot-kit-chat-inner-container {
  background-color: rgb(76, 96, 128);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.react-chatbot-kit-chat-container {
  width: 50vh;
  height: 70vh;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
  .react-chatbot-kit-chat-container {
    width: 90vw;
    height: 70vh;
  }
}
.react-chatbot-kit-chat-bot-message {
  margin-left: 10px;
}

.react-chatbot-kit-chat-header {
  background-color: rgb(153, 189, 230);
}
.react-chatbot-kit-chat-bot-message {
  background-color: #2977f5;
  height: fit-content;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 8px solid #478dea;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #55a0ea;
  height: 45px;
  width: max-content;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Logo {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  right: 12px;
}
.Avatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
.userAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
