.innerLayer {
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.outerLayer {
    padding-top: 97px;
    padding-bottom: 25px;
    background-color: #212EA0;
    justify-content: center;
    align-items: center;
}


.Body {
    padding-top: 60px;
    padding-bottom: 60px;

}
