.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/investors.png');
    background-size:cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 10s ease-in-out infinite;
    background-blend-mode: overlay;
    background: rgba(0, 0, 0, 0.46);
}

@keyframes animate{
    0%,100%{
        background-image: url('../../assets/nile_3.jpg');
        background-size: cover;
        background-position: center;
    }
    25%{
        background-image: url('../../assets/5.jpg');
        background-size: cover;
        background-position: center;
    }
    50%{
        background-image: url('../../assets/2.jpg');
        background-size: cover;
        background-position: center;
    }
    75%{
        background-image: url('../../assets/nile_2.jpg');
        background-size: cover;
        background-position: center;
    }
}
.hero-text{
    text-align: center;
    max-width: 800px;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
    /* display: flex; */
    text-align: center;
    /* width: fit-content; */
}
.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}
.hero-text button{
    width: 40%;
}
.hero-text .btn:hover{
    background-color:rgb(111, 111, 160);
    color:white;
}
