.hero{
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)), url('../../assets/investors.jpeg'); */
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 16s ease-in-out infinite;
}

@keyframes animate{
    0%,100%{
        background-image: url('../../assets/investors.jpeg');
    }
    25%{
        background-image: url('../../assets/5.jpg');
    }
    50%{
        background-image: url('../../assets/2.jpg');
    }
    75%{
        background-image: url('../../assets/3.jpg');
    }
}
.hero-text{
    text-align: center;
    max-width: 800px;
}

.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}

.hero-text p{
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.4;
}

.hero-text button{
    width: 40%;
}
.hero-text .btn:hover{
    background-color:rgb(111, 111, 160);
    color:white;
}