.about{
    margin: 100px auto;
    display: flex;
    justify-items: center;
    justify-content: space-between;
    width: 90%;
}

.about-left{
    flex-basis: 40%;
}

.about-right{
    flex-basis: 56%;
}

.about-img{
    width: 100%;
    border-radius: 10px;
}

.about h3{
    font-weight: 600;
    font-weight: 16px;
    color: #212EA0;
}

.about h2{
    font-weight: 600;
    font-size: 35px;
    margin: 10px 0;
    max-width: 400px;
}

.about p{
    color: #676767;
    margin-bottom: 15px;
}