.about{
  margin: 100px auto;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 90%;
}

.about-left{
  flex-basis: 40%;
}

#dark .about-heading {
  color: white;
}

.about-right{
  flex-basis: 56%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-img{
  width: 100%;
  border-radius: 10px;
}

.about h3{
  font-weight: 600;
  font-weight: 16px;
  color: #212EA0;
}

.about h2{
  font-weight: 600;
  font-size: 35px;
  margin: 10px 0;
  max-width: 400px;
  color: black;
  text-align: center;
  
}

.about p{
  color: #676767;
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .about {
    flex-direction: column; /* Change flex direction to stack elements vertically */
    align-items: center; /* Center align items */
  }

  #heading{
      display: flex;
      justify-content: center;
  }

  .about-left,
  .about-right {
    flex-basis: 100%;
    margin-bottom: 30px; 
    flex-direction: column;
  }

  .about-img {
    border-radius: 15px; 
  }

  .about h2 {
    font-size: 28px; /* Reduce font size */
    text-align: start; /* Center align text */
  }

  .about p {
    text-align: center; 
  }
}