
.contributors-container {
  width: 100%;
  height: 100%; 
  padding-top: 2rem;
  overflow: hidden;
  background-color: rgb(221, 229, 246); /* Change background color to white or any light color */
}


.contributors-title {
  margin-top: 4rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.contributors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.contributor-card {
  width: 100%;
  max-width: 25%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2937;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contributor-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contributor-link {
  display: block;
}

.contributor-avatar {
  width: 5rem; 
  height: 5rem; 
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.contributor-name {
  font-size: 1rem; 
  font-weight: 500;
  color: #f3f4f6;
  margin-bottom: 0.5rem;
}

.contributor-contributions {
  color: #d1d5db;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .contributor-card {
    max-width: 33.333%; /* 3 cards per row */
  }
}

@media (max-width: 992px) {
  .contributor-card {
    max-width: 50%; /* 2 cards per row */
  }
}

@media (max-width: 768px) {
  .contributor-card {
    max-width: 100%; /* 1 card per row */
  }
}
