@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.explore{
    width: 100%;
    min-height: 50vh;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn{
    justify-content: center;
    width:200px;
    padding-left:200x;
}


.explore {
    padding-top: 90px;
    padding-left: 90px;
    padding-right: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
  }
  
  .card-container {
    margin-top: 20px;
    padding-bottom:34px;
    
  }
  
  .card {
    border: none;
    background-size: cover;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content:space-between ;
    margin-bottom: 20px;
    
  }

  .card-img-top {
    padding-left:45px;
    justify-content:center;
    align-items:center;
    width: auto;
    height: 90px;
    display: flex
  }
  
  
  .card-body {
    padding: 15px;
    padding-bottom:23px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-family: "Open Sans, sans-serif";
    font-weight: normal;
    font-style: normal;
    font-size: medium;
    text-transform:none;
    font-variation-settings: "wdth" 100;
  }
  
  .button-container {
    margin-top: auto;
    display: flex;
    justify-content:center
  }
.btn{
  background-color: rgb(0, 0, 0)
}
.btn:hover{
    color:rgb(17, 1, 1);
    background-color: rgb(206, 152, 206);
    text-decoration: none;
}
.card:hover{
    background-color:rgb(206, 204, 254);
}

/* Explore.css */
.explore {
  text-align: center;
  padding: 20px;
}

.header-container {
  position: relative;
  display: inline-block;
}

.header-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.header-image:hover {
  transform: scale(1.05);
}

h1 {
  margin-top: 20px;
  font-size: 2em;
}

.cardDiv {
  margin-top: 20px;
  

}

.card-container {
  margin-bottom: 20px;
}


/* Explore.css */

/* General styling for the Explore component */
.explore {
  text-align: center;
  padding: 20px;
  margin-top: 80px;  /* Adjust this value based on the height of your navbar */
}

.header-container {
  position: relative;
  display: inline-block;
}

.header-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.header-image:hover {
  transform: scale(1.05);
}

h1 {
  margin-top: 20px;
  font-size: 2em;
}

.cardDiv {
  margin-top: 20px;
}

.card-container {
  margin-bottom: 20px;
  flex: 1;
  max-width: 45%;
  
}


@media screen and (max-width: 768px) {
  .explore {
    padding: 10px;
  }

  .header-image {
    max-width: 100%;
  }

  h1 {
    font-size: 1.5em;
  }

  .card-container {
    margin: 10px auto;
    max-width: 90%;
  }
}
