@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.explore {
  width: 100%;
  min-height: 60vh;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px 90px 0;
  /* Removed the margin-top */
  text-align: center;
}

.header-container {
  position: relative;
  display: inline-block;
}

.header-image {
  width: 200%;  /* Adjusted to take the full width of the container */
  max-width: 1000px;  /* Increased the max-width */
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.header-image:hover {
  transform: scale(1.05);
}

h1 {
  margin-top: 20px;
  font-size: 2.5em;
  color: #333;
}

.cardDiv {
  margin-top: 30px;
}

.card-container {
  margin: 20px auto;
  flex: 1;
  max-width: 90%;
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #555;
}

.card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #777;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  width: 100%;
  max-width: 200px;
  background-color: #ce98ce;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
  color: white;
  background-color: #81a6eb;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .explore {
    padding: 20px;
  }

  .header-image {
    max-width: 100%;
  }

  h1 {
    font-size: 2em;
  }

  .card-container {
    margin: 10px auto;
    max-width: 100%;
  }

  .card {
    margin-bottom: 20px;
  }
}
