.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-top: 95px;
    margin-bottom: 10px;
    margin-right: 500px;
    margin-left: 500px;
  }
  
  .feedback-form h2 {
    color: #0022c9;
    font-size: 28px;
    margin-bottom: 5px;
  }
  
  .feedback-form p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .feedback-form .rating-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .feedback-form button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .feedback-form form {
    display: flex;
    flex-direction: column;
    width: 110%;
  }
  
  .feedback-form label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .feedback-form input[type="text"],
  .feedback-form input[type="email"],
  .feedback-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .feedback-form input[type="text"]:focus,
  .feedback-form input[type="email"]:focus,
  .feedback-form textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .feedback-form textarea {
    resize: vertical;
  }
  
  .feedback-form button[type="submit"] {
    background-color: #2989ffec;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .feedback-form button[type="submit"]:hover {
    background-color: #04376e; 
    transform: none; 
  }
