@import url('//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css');
@import url('//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css');

.Slide {
    text-align: center;
  }
  
  .Slide-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Slide-logo {
      animation: Slide-logo-spin infinite 20s linear;
    }
  }
  
  .Slide-header {
    /*background-color: #282c34;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Slide-link {
    color: #ce98ce;
  }
  
  @keyframes Slide-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }