.view-startups{
    color: #ce98ce;
    justify-content: center;
    margin: auto;
}

.view-startups {
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.view-starups:hover{
    color: mediu
}

@layer base{
  body {
    background-color: #14161b;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-dots li.slick-active button:before {
  color:#ce98ce !important;
}