/* Styles for the wrapper */
.wrapper.light {
  background-color: #ffffff; /* Light background color */
  color: #000000; /* Dark text color */
}

.wrapper.dark {
  background-color: #222; /* Dark background color */
  color: #f1f1f1; /* Light text color */
}

/* Styles for the body */
body.light {
  background-color: #f0f0f0; /* Light background color */
  color: #000000; /* Dark text color */
}

body.dark {
  background-color: #222; /* Dark background color */
  color: #f1f1f1; /* Light text color */
}


.contact {
  margin: 70px auto;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; /* Padding to create space for the colored padding effect */
  background-color: #444; /* Color for the padding area */
  border-radius: 10px;
}

.contact-inner {
  width: 100%;
  background-color: #333; /* Background color for the inner content area */
  padding: 50px;
  border-radius: 90px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-col {
  flex-basis: 48%;
}

.contact-col h3 {
  font-weight: 500;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-col h3 img {
  width: 35px;
  margin-left: 10px;
}

.contact-col p {
  max-width: 450px;
}

.contact-col ul li {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.contact-col ul li img {
  width: 25px;
  margin-right: 10px;
}

.contact form input,
.contact form textarea {
  display: block;
  width: 90%;
  background: #555; 
  color: #000000; 
  padding: 15px;
  border: 0;
  outline: 0;
  margin-bottom: 15px;
  margin-top: 5px;
  resize: none;
  border-radius: 10px;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact form label {
  display: flex;
  text-align: left;
  color: #0d00ff; 
}

.contact-col span {
  display: block;
  margin: 20px 0;
}


.btn-div .btn:hover {
  display: flex;
  background-color: rgb(111, 111, 160);
  color: rgb(255, 255, 255);
  justify-content: center;
}

.contact-col button {
  width: max-content;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.btn:hover {
  background-color: rgb(111, 111, 160);
  color: rgb(255, 255, 255);
}

/* Media query for Smart Phone */
@media (max-width: 600px) {
  .contact {
    margin-top: 10%;
    flex-direction: column; 
  }

  .contact-col {
    flex-basis: 100%;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .contact-right form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50vw;
  }

  .contact-col h3 {
    font-size: 20px;
    margin-bottom: 10px;
    justify-content: center;
  }

  .contact-col h3 img {
    width: 25px; 
  }

  .contact form input,
  .contact form textarea {
    padding: 10px;
    font-size: 18px;
  }
}

@media (max-width: 370px) {
  .contact-col form {
    width: 80vw;
  }

  .contact-col form input, .contact-col form textarea {
    width: 80vw;
  }
}
