.contact{
    margin: 80px auto;
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 48%;
    color: #676767;
}

.contact-col h3{
    color: #000F38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col h3 img{
    width: 35px;
    margin-left: 10px;
}

.contact-col p{
    max-width: 450px;
    list-style: 0.3;
}

.contact-col ul li{
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
}

.contact form input, .contact form textarea{
    display: block;
    width: 100%;
    background: #ebebeb;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
}

.contact-col span{
    display: block;
    margin: 20px 0;
}

.contact-col button{
    width: 50%;
    justify-content: center;
    align-items: center;
}

/* Media query for Smart Phone */
@media (max-width: 600px) {
    .contact {
      margin-top: 10%;
      flex-direction: column; /* Change flex direction to stack elements vertically */

    }
  
    .contact-col {
      flex-basis: 100%; 
      margin-bottom: 50px; 
      text-align: center; 
    }
  
    .contact-col h3 {
      font-size: 20px; 
      margin-bottom: 10px; /* Reduce margin bottom */
      justify-content: center;
    }
  
    .contact-col h3 img {
      width: 25px; /* Reduce image size */
    }
  
    .contact form input,
    .contact form textarea {
      padding: 10px;
      font-size: 18px;
      width: 350px;
    }
  
    .contact-col button {
      width: 100%; 
    }
  }
  