.container1 {
  padding-left: 10%;
  padding-right: 10%;
}

nav {
  width: 100%;
  background-color:#212ea0; 
  font-size: 14px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  border-bottom: 2px solid white;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  transition: top 0.3s ease-in-out;
}
 /* CSS for name in navbar */
/*  .name_nav {
  color: rgb(255, 255, 255); 
  font-size: 2vw; 
  position: relative;
  bottom: 5.5vw; 
  left: 5.5vw; 
}

/* Media query for smaller screens */
/*@media (max-width: 768px) {
  .name_nav {
    font-size: 4vw;
    bottom: 8vw;
    left: 6vw;
  }
} */

nav.container1 p {
  color: #edf2f2;
  display: flex;
  align-items: center;
}

.logo {
  height: 52px;
  width: 52px;
  margin-right: 5px;
}

.logIn {
  /* background-color: rgb(145, 99, 187); */
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logIn {
  background-color: transparent;
}

.logIn:hover {
  background-color: rgb(109, 65, 151);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 14px;
}

nav ul li a.active {
  color: lightgoldenrodyellow;
}

nav a {
  flex-wrap: wrap;
  color: white;
  margin-right: auto;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: row-reverse;
}

nav a:hover {
  background-color: rgb(109, 65, 151); /* Background color on hover */
  background-size: 80% 80%;
  color: black;
  border-radius: 3px;
}

.dark-nav {
  /* background: #212EA0; */
  transition: 0.5s;
}

.hidden-nav {
  top: -100px; /* Adjust this value to hide the navbar completely */
}

.menu-icon {
  display: none;
  margin-left: 15px;
}

/* Media query for tablets */
@media (max-width: 1100px) {
  nav ul li {
    margin: 10px 10px;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  nav a {
    flex-direction: column-reverse;
    align-items: center;
  }
}

/* SmartPhone Media query */
@media (max-width: 770px) {
  nav ul li {
    margin: 10px 5px;
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  nav {
    padding: 15px 20px; /* Adjust padding for better spacing */
  }

  .logo {
    width: 50px;
  }

  nav ul {
    position: absolute;
    top: 98px;
    right: 0px;
    background:  rgba(0, 0, 128, .6);;
    z-index: 10;
    width: 100%;
    padding-top: 20px;
    transition: 0.5s;
    display: none; 
  }

  nav ul li {
    display: block;
    margin: 10px 0; /* Adjust margin */
    text-align: center; /* Center align menu items */
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .show-mobile-menu {
    display: block; 
  }

  
  nav ul li a {
    display: block;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
  }

  nav ul li a:hover {
    background-color: rgb(109, 65, 151);
    color: black;
    border-radius: 3px;
  }
}

.theme-toggle-button {
  /* background: rgba(128, 128, 128, 0.2); Subtle grey background */
  height: 42px;
  width: 42px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0; /* Increase padding for larger button */
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.theme-toggle-button img {
  height: 32px;
  width: 32px;
  filter: grayscale();
  border-radius: 20px;
}

.theme-toggle-button:hover {
  transform: scale(1.1);
  background: rgba(128, 128, 128, 0.4); /* Darker grey on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.theme-toggle-button:focus {
  outline: none;
}
.theme-toggle-button box-icon {
  width: 20px; /* Smaller icon size */
  height: 20px; /* Smaller icon size */
  fill: white; /* Icon color to white */
}
.dark-nav .theme-toggle-button {
  background: rgba(128, 128, 128, 0.2);
}

.dark-nav .theme-toggle-button:hover {
  background: rgba(128, 128, 128, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
