.container1 {
  padding-left: 10%;
  padding-right: 10%;
}

nav {
  width: 100%;
  font-size: 14px;
  padding: 10px 0;
  position: fixed;
  top: 0;
  border-bottom: 2px solid white;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 10;
  transition: top 0.3s ease-in-out;
}

nav.container1 p {
  color: #edf2f2;
  display: flex;
  align-items: center;
}

.logo {
  height: 52px;
  width: 52px;
  margin-right: 5px;
}

.logIn {
  background-color: transparent;
}

.logIn:hover {
  background-color: rgb(109, 65, 151);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 14px;
}

nav ul li a.active {
  color: lightgoldenrodyellow;
}

nav ul li a:hover {
  text-decoration: none;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav ul li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #c266d3;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #c266d3;
}

nav ul li a:hover:before {
  transform: scaleX(1);
}

.button {
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.button-2 {
  color: #fff;
  border: 3px solid #c266d3;
  background-image: -webkit-linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-image: linear-gradient(30deg, #c266d3 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.button-2:hover {
  background-position: 100%;
  color: #c266d3;
}

nav a {
  flex-wrap: wrap;
  color: white;
  margin-right: auto;
  transition: color 0.3s ease;
  display: flex;
  flex-direction: row-reverse;
}

nav a:hover {
  background-color: rgb(109, 65, 151);
  background-size: 80% 80%;
  color: black;
  border-radius: 3px;
}

.dark-nav {
  background: #212EA0;
  transition: 0.5s;
}

.hidden-nav {
  top: -100px;
}

.menu-icon {
  display: none;
  margin-left: 15px;
}

@media (max-width: 1100px) {
  nav ul li {
    margin: 10px 10px;
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  nav a {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 770px) {
  nav ul li {
    margin: 10px 5px;
    font-size: 14px;
  }
}

@media (max-width: 700px) {
  nav {
    padding: 15px 20px;
  }

  .logo {
    width: 50px;
  }

  nav ul {
    position: absolute;
    top: 98px;
    right: 0px;
    background: rgba(0, 0, 128, 0.6);
    z-index: 10;
    width: 100%;
    padding-top: 20px;
    transition: 0.5s;
    display: none;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .show-mobile-menu {
    display: block;
  }

  nav ul li a {
    display: block;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
  }

  nav ul li a:hover {
    background-color: rgb(109, 65, 151);
    color: black;
    border-radius: 3px;
  }
}

.theme-toggle-button {
  height: 42px;
  width: 42px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 0;
  transition: transform 0.3s, box-shadow 0.3s, background 0.3s;
}

.theme-toggle-button img {
  height: 32px;
  width: 32px;
  filter: grayscale();
  border-radius: 20px;
}

.theme-toggle-button:hover {
  transform: scale(1.1);
  background: rgba(128, 128, 128, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.theme-toggle-button:focus {
  outline: none;
}

.theme-toggle-button box-icon {
  width: 20px;
  height: 20px;
  fill: white;
}

.dark-nav .theme-toggle-button {
  background: rgba(128, 128, 128, 0.2);
}

.dark-nav .theme-toggle-button:hover {
  background: rgba(128, 128, 128, 0.4);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
