nav{
  width: 100%;
   background: rgba(0, 0, 128,.6);
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: top 0.3s ease-in-out;
}

.logo{
  width: 80px;
}
.logIn{
/*background-color: rgb(145, 99, 187);*/
background-color: transparent;
}
.logIn:hover{
background-color: rgb(109, 65, 151);
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
}
nav ul li a.active{
  color: lightgoldenrodyellow;
}
.dark-nav{
  background: #212EA0;
  transition: 0.5s;
}
.hidden-nav {
  top: -100px; /* Adjust this value to hide the navbar completely */
}

.menu-icon{
  display: none;
}


/* Media query for tablets */
@media(max-width: 1000px){
  .logo{
      width: 60px;
  }
  nav ul li{
      margin: 10px 15px;
  }
}
@media(max-width: 800px){
nav ul li {
  font-size: 14px;
} 
}


/* SmartPhone Media query */
@media (max-width: 730px) {
  nav {
    padding: 15px 20px; /* Adjust padding for better spacing */
  }
  .logo {
    width: 50px;
  }
  nav ul {
    position: absolute; /* Change position to absolute */
    top: 82.56px; /* Adjust top position */
    right: 0px; /* Adjust right position */
    background: #6261acfa;
    z-index: 10; /* Increase z-index to show above other content */
    width: 200px;
    padding-top: 20px; /* Adjust padding-top */
    transition: 0.5s;
  }

  nav ul li {
    display: block;
    margin: 10px 0; /* Adjust margin */
    text-align: center; /* Center align menu items */
  }

  .menu-icon {
    display: block;
    width: 30px;
    cursor: pointer;
  }

  .hide-mobile-menu {
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
  }
}