/* progressbar.css */

.scroll-progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9px; 
    z-index: 9999; 
  }
  
  .scroll-progress-bar {
    height: 100%;
    background-color: #2259ff; 
  }
  