.dashboard {
    padding: 20px;
  }
  
  .profile-info {
    display: flex;
    align-items: center;
  }
  
  .profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .user-details p {
    margin-bottom: 5px;
  }
  