
 /* .footer {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    height: 8vh;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  */
  .footer {
    margin-top: auto; /* Push the footer to the bottom */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    background-color: #f9f9f9; /* add a background color */
    padding:  1.5rem; /* adjusted padding */ /* adjusted padding */
  }
  
  
  .footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .footer ul li {
    display: inline-block;
    margin-left: 20px;
  }
  .Footer-img{
    height:25px;
    padding: 2px;
    width:25px;
  }