.footer {
  background-color: #212ea0;
  color: white;
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 40%;
}
.star-us{
  display: flex;
  border: 1px solid white;
  background: #c3c3c3;
  padding: 0.5rem;
  border-radius: 7px;
  align-items: center;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}
.star-us:hover{
  scale: 1.1;
}
.footer-1 img {
  height: 4rem;
}

.footer-half {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-2 {
  width: 25%;
}

.footer-title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

.footer-section-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}

.footer-links {
  color: white;
  padding: 1rem 0;
  list-style: none;
}

.footer-link {
  padding: 0.25rem 0;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s; 
}

.footer-link a {
  text-decoration: none;
  color: white;
  transition: color 0.3s, text-decoration 0.3s, transform 0.3s; 
}

.footer-link a:hover, 
.footer-link:hover {
  color: #dc54b1; 
  text-decoration: underline; 
  transform: scale(1.05); 
}

.footer-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  font-size: x-large;
}

.footer-icons i {
  color: white;
  transition: color 0.3s, font-size 0.3s, transform 0.3s; 
}

.footer-icons i:hover {
  color: #dc54b1; 
  font-size: 2rem;
  transform: scale(1.2); 
}

.footer-icons a {
  text-decoration: none;
  transition: transform 0.3s; 
}

.footer-icons a:hover {
  color: #dc54b1; 
  transform: scale(1.2); 
}

.footer-icons-md {
  justify-content: flex-start;
}

.footer-bottom {
  color: #c3c3c3;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.footer-bottom-link {
  cursor: pointer;
  transition: color 0.3s, transform 0.3s; 
}

.footer-bottom-link:hover {
  color: #dc54b1; 
  transform: scale(1.05); 
}

.footer-sections {
  display: flex;
  flex-wrap: wrap;
}

.profileContainer a {
  text-decoration: none;
}

.footer-title a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-1 {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-half {
    width: 100%;
    justify-content: space-between;
  }

  .footer-2 {
    width: 45%;
    margin-bottom: 2rem;
  }

  .footer-icons {
    margin-right: 0;
    justify-content: flex-start;
  }

  .footer-bottom {
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .footer-half {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-2 {
    width: 100%;
  }
  .footer-icons {
    justify-content: center;
  }
}

@media (min-width: 769px) and (max-width: 990px) {
  .footer-half {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer-2 {
    width: 45%;
    margin-bottom: 2rem;
  }

  .footer-icons {
    justify-content: flex-start;
    margin-right: 0;
  }
}

@media (min-width: 991px) {
  .footer-icons {
    justify-content: flex-start;
    margin-right: 0;
  }
}