.footer {
  padding: 2.5rem 2.5rem 1rem 2.5rem;
}

.footer-container {
  display: flex;
}

.footer-container-md {
  display: flex;
  justify-content: space-between;
}

.footer-1 {
  display: flex;
  gap: 20px;
  width: 40%;
}

.footer-1 img {
  height: 3rem;
}

.footer-half {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.footer-2 {
  width: 25%;
}

.footer-title {
  text-transform: uppercase;
  font-size: 2rem;
}

.footer-section-title {
  color: white;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}

.footer-links {
  color: white;
  padding: 1rem 0;
  list-style: none;
}

.footer-link {
  padding: 0.25rem 0;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s; /* Add transition for smooth effect */
}

.footer-link a {
  text-decoration: none;
  color: white;
  transition: color 0.3s, text-decoration 0.3s, transform 0.3s; /* Add transition for smooth effect */
}

.footer-link a:hover, 
.footer-link:hover {
  color: #dc54b1; /* Change to your desired hover color */
  text-decoration: underline; /* Add underline on hover */
  transform: scale(1.05); /* Zoom effect on hover */
}

.footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  margin-right: 7rem;
  font-size: x-large;
}

.footer-icons i {
  color: white;
  transition: color 0.3s, font-size 0.3s, transform 0.3s; /* Add transform transition */
}

.footer-icons i:hover {
  color: #dc54b1; /* Change to your desired hover color */
  font-size: 2rem;
  transform: scale(1.2); /* Zoom effect on hover */
}

.footer-icons a {
  text-decoration: none;
  transition: transform 0.3s; /* Add transition for smooth effect */
}

.footer-icons a:hover {
  color: #dc54b1; /* Change to your desired hover color */
  transform: scale(1.2); /* Zoom effect on hover */
}

.footer-icons-md {
  justify-content: flex-end;
}

.footer-bottom {
  color: #c3c3c3;
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.footer-bottom-link {
  cursor: pointer;
  transition: color 0.3s, transform 0.3s; /* Add transition for smooth effect */
}

.footer-bottom-link:hover {
  color: #dc54b1; /* Change to your desired hover color */
  transform: scale(1.05); /* Zoom effect on hover */
}

.footer-sections {
  display: flex;
}

.profileContainer a {
  text-decoration: none;
}

.footer-title a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-1 {
    width: 100%;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-half {
    width: 100%;
    justify-content: space-between;
  }

  .footer-2 {
    width: 20%;
  }

  .footer-icons {
    margin-right: 5rem;
    justify-content: flex-end;
  }

  .footer-bottom {
    justify-content: space-between;
  }

  .footer-bottom {
    display: flex;
    margin-top: 10px;
    justify-content: left;
  }
}

@media (max-width: 400px) {
  .footer-half {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-2 {
    width: 100%;
  }

  .footer-icons {
    margin-right: 0;
    display: flex;
    justify-content: center;
  }

  .footer-bottom {
    display: flex;
    margin-top: 10px;
    justify-content: center;
  }
}
