.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: #007bff; */
}

.footer-content {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 100%;
  /* background: #cf2020; */
  gap: 5px;
}

#dark .footer {
  background-color: rgb(34, 34, 34);
  border: none;
}

#dark a {
  color: white;
}

@media  (min-height:600px){
  .footer-links{
    flex-direction: column;
  }
}
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
  width: 100%;
  /* background: #000; */
}

.footer-links li {
  margin-right: 15px;
  margin-left: 15px;
  display: inline;
}

.footer-links li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 15px;
}

.footer-links li a:hover {
  color: #007bff;
}

.social-media {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-media-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-media-links li {
  margin-right: 10px;
  margin-left: 10px; 
}

.social-media-links li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
}

.social-media-links li a:hover {
  color: #007bff;
}

.copyright {
  margin-top: 0px; 
}

@media screen and (max-width : 750px) {
  body {
    background-color: lightgreen;
  }
  .footer-content {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 10px;
  }
  .footer-links {
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
}
