
.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin-right: 15px;
  margin-left: 15px;
  display: inline;
}

.footer-links li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 15px;
}

.footer-links li a:hover {
  color: #007bff;
}

.social-media {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-media-links {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-media-links li {
  margin-right: 10px;
  margin-left: 10px; 
}

.social-media-links li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 20px;
}

.social-media-links li a:hover {
  color: #007bff;
}

.copyright {
  margin-top: 0px; 
}

