/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.testimonial_head {
  font-size: 30px;
  text-shadow: 1px 1px 2px rgb(34, 30, 255), 0 0 1em #00d0ff, 0 0 0.2em #00d0ff8c;
  color: white;
}

.wrapper {
  /* max-width: 1100px; */
  width: 100%;
  position: relative;
  padding-bottom: 100px;
  padding-left: 25px;
}

.wrapper i {
  top: 45%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #212EA0 !important;
  border-radius: 50%;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 1);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  color: rgb(255, 255, 255) !important;
}

#left {
  position: absolute;
  left: 0;
  z-index: 1;
  background-color:#212EA0;
  color: white;

}

#left:hover, #right:hover { 
  background-color:#3c4de8 !important;
  box-shadow: 0px 2px 5px rgb(98, 0, 113);
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -57px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;

}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}

.carousel .card {
  /* transition: all 0.4s; */
  scroll-snap-align: start;
  list-style: none;
  /* padding-inline:1rem; */
  /* padding-bottom: 15px; */
  /* padding-top: 35px; */
  border-radius: 8px;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* background-color: rgb(0,0,85); */
  border: 1px solid #00d9ff !important;
  box-shadow: 0 1px 3px rgba(47, 0, 255, 0.959) !important;
  padding: 1rem;
  overflow: hidden;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  background-color: #dce1ff !important;
}

.carousel .card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(129deg, #0054c2  50%, #d4f0ff 51%) !important;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out !important;
  transform: translate(-100%, -100%);
  opacity: 0;
  z-index: -1;
}

.carousel .card:hover::before {
  transform: translate(0, 0);
  opacity: 1;
  /* background: linear-gradient(167deg, rgb(169, 216, 255),#0800fa)  !important; */
}
.carousel .card:hover {
  /* background: linear-gradient(167deg, rgb(169, 216, 255),#0800fa)  !important; */
  transform: scale(1.01);
  box-shadow: 0 4px 6px rgba(5, 205, 208, 0.752);
}
.carousel .card .img {
  background: #212EA0;
  height: 148px;
  width: 148px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212EA0;
  box-shadow: 0 0 0 0 #212EA0;
}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.carousel .card:hover img { 
  box-shadow: -1px 3px 15px rgb(0, 229, 255);
  border: 4px solid rgb(255, 255, 84);

}

.carousel .img {
  transition: .5s;
}

.carousel .img1 {
  transition: .5s;
}

.carousel .card .img1 {
  /* background: #212EA0; */
  height: 148px;
  width: 148px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  /* margin-top: 1rem; */
  background: #212EA0;
  box-shadow: 0 0 0 0 #212EA0;
}

.card .img1 img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 1rem; */

}

.carousel .card .info {
  position: relative;
  z-index: 1;
  transition: .5s;
}

.carousel .card:hover .info {}

.carousel .card .info h2 {
  /* margin: 20px 0 0; */
  font-size: 1.4rem;
  transition: text-shadow 0.3s ease, color 0.3s ease, transform 0.4s ease-out;
}

.carousel .card:hover .info h2 {
  text-shadow: 1px 1px 2px #a30160, 0 0 1em #00fffb, 0 0 0.2em #00fffb;
  color: rgb(255, 255, 255) !important;
  text-decoration: underline;
  transform: scale(1.1);

}

.carousel .card:hover .info span {
  text-shadow: 1px 1px 2px #02146e, 0 0 1em #001aff, 0 0 0.2em #001aff;
  color: white;
  /* transform: scale(1.05); */
}
.carousel .card .info span {
  /* margin: 5px; */
  margin: 0 10px;
  /* padding: 5px; */
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  transition: text-shadow 0.3s ease, color 0.3s ease, transform 0.4s ease-out;
}

.carousel .card:hover {

  h2,
  span {}
}

/* .carousel .card span {
  color: #6a6d78;
  font-size: 1.11rem;
  text-align: center;
  margin: 0 10px ;
} */

/* .text {
  text-align: center;
  margin-top: -2px;
}
.small {
  display: none;
  text-align: center;
  color: dodgerblue;
  margin-top: 1rem;
} */
.card:hover img {

  box-shadow: 0 0 0 300px #212EA0;

}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }

  .small {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
}

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  /* max-width: 1100px; */
  width: 100%;
  position: relative;
  padding-bottom: 100px;
  padding-left: 25px;
}

.wrapper i {
  top: 45%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 1);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  color: gray;
}

#left {
  position: absolute;
  left: 0;
  z-index: 1;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -57px;
}

.wrapper i:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;

}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}

.carousel .card {
  transition: all 0.4s;
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  /* padding-inline:1rem; */
  padding-bottom: 15px;
  padding-top: 35px;
  flex-direction: column;
  border-radius: 8px;
  /* padding: 2rem; */
  overflow: hidden;

}

.carousel .card .img {
  /* background: #212EA0; */
  height: 148px;
  width: 148px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212EA0;
  box-shadow: 0 0 0 0 #212EA0;

}

.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.carousel .img {
  transition: .5s;
}

.carousel .img1 {
  transition: .5s;
}

.carousel .card .img1 {
  /* background: #212EA0; */
  height: 148px;
  width: 148px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  /* margin-top: 1rem; */
  background: #212EA0;
  box-shadow: 0 0 0 0 #212EA0;
}

.card .img1 img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 1rem; */

}

.carousel .card .info {
  position: relative;
  z-index: 1;
  transition: .5s;
}

.carousel .card:hover .info {}

.carousel .card .info h2 {
  margin: 20px 0 0;
  font-size: 1.2rem;
  /* margin-bottom: -2px; */
  /* font-weight: 500; */
}

.carousel .card .info span {
  /* margin: 5px; */
  margin: 0 10px;
  /* padding: 5px; */
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.carousel .card:hover {

  h2,
  span {}
}

/* .carousel .card span {
  color: #6a6d78;
  font-size: 1.11rem;
  text-align: center;
  margin: 0 10px ;
} */

/* .text {
  text-align: center;
  margin-top: -2px;
}
.small {
  display: none;
  text-align: center;
  color: dodgerblue;
  margin-top: 1rem;
} */
.card:hover img {

  box-shadow: 0 0 0 300px #212EA0;

}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }

  .small {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }
}

.carousel .card:hover .info h2,
.carousel .card:hover .info span {
  color: white;
}