.login-outerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90.5vh;
    padding-top: 50px;
}

.login-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 15px;
  text-align: center;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  color: #0056b3;
  text-decoration: underline;
}
