.login-outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 150px; /* Adjust this value to move the login box down */
  background-color: #fff;
}

.login-container {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
  width: 400px;
  margin: 0 auto;
  padding: 05px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-container > input {
  outline: none;
}

.input {
  padding: 20px;
  border: none;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
  padding: 20px;
}

input {
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
}

button {
  width: 50%;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 20px;
}

p a {
  color: #007bff;
  text-decoration: none;
  margin-top: 12px;
}

p a:hover {
  color: #0056b3;
  text-decoration: underline;
}
.googlelogin {
  padding: 20px;
  margin-top: 12px;
  width: 50%;
  text-align: center;
  margin-left: 50px;
}
