.login-outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* margin-top: 100px; */
  padding: 40px 20px;
  box-sizing: border-box;
}

.login-container {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #91a6ff 74%);
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  padding: 10px 0;
}

.input-container {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  outline: none;
}

button {
  width: 90%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #0056b3;
}

.login-container p {
  margin-top: 10px;
  text-align: center;
  padding-bottom: 10px;
}

p a {
  color: #007bff;
  text-decoration: none;
}

p a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.googlelogin {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10px;
}

.googlelogin button:hover,
.googlelogin div:hover {
  background-color: #dbedf8b9;
  transition: background-color 0.3s ease;
}

.warningmsg {
  margin: 3px 0;
  text-align: left;
  color: red;
}

.eye {
  float: right;
  left: -9px;
  margin-top: -45px;
  margin-right: 10px;
  position: relative;
  width: 14px;
  height: 14px;
}

.eye:hover {
  color: #007efc;
  cursor: pointer;
}
.google-login-wrapper {
  width: 100%; 
  display: flex;
  justify-content: center;
}
