/* src/components/ForgotPassword.css */

.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 70px); /* Adjust to account for Navbar and Footer height */
  background-color: #f0f0f0;
  padding: 20px;
}

.forgot-password-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.input {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.warningmsg {
  margin-top: 5px;
  color: red;
}

.forgot-password-form input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .forgot-password-container {
    padding: 10px;
  }

  .forgot-password-form {
    padding: 15px;
  }
}
