/* src/components/ForgotPassword.css */

.forgot-password-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 600px;
  background-color: #f9f9f9;
}
.forgot-password-container {
  margin-top: 100px; /* Adjust the margin-top value as needed */
}

.input {
  margin-bottom: 20px;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 40px;
}

.error-message {
  color: red;
}
