@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background: #F5F5F5;
}
body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
  color:lightgoldenrodyellow;
}



