@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body{
  background: #F5F5F5;
}
body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
  color:lightgoldenrodyellow;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}

#testimonials h3{
  color: #212EA0;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  
}

.btn{
  background: white;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn img{
  width: 20px;
  margin-left: 10px;
}

.btn.dark-btn{
  background: #212EA0;
  color: #fff;
}


@media(max-width: 1200px){
    .container{
      padding-left: 5%;
      padding-right: 5%;
    }
    .btn{
      padding: 14px 22px;
    }
}

